# Виртуальное окружение
venv/
env/
.venv/

# База данных
*.db
*.sqlite
*.sqlite3
data/*.db

# Секреты и конфиги
.env
credentials.json
*.log
*.pem

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Render
render.yaml